Redirect 301 /youtube https://youtube.com/@windbridge
Redirect 301 /yt https://youtube.com/@windbridge
Redirect 301 /instagram https://instagram.com/ahmad.rka
Redirect 301 /ig https://instagram.com/ahmad.rka
Redirect 301 /whatsapp https://wa.me/6282133275485?text=Hi,%20Ahmadrka%0ALet%27s%20work%20together
Redirect 301 /wa https://wa.me/6282133275485?text=Hi,%20Ahmadrka%0ALet%27s%20work%20together
Redirect 301 /github https://github.com/Ahmad-Arkan
Redirect 301 /gh https://github.com/Ahmad-Arkan
Redirect 301 /linkedin https://linkedin.com/in/muhammad-arkan-1129b7353
Redirect 301 /in https://linkedin.com/in/muhammad-arkan-1129b7353
Redirect 301 /mc https://launch.minecraft.net/profile/Ahmad%20Arkan2313
